<div class="reel-cont d-flex mt-5">
  <div class="sidenav mr-3">
    <h3 class="text-center">Chats</h3>
    <% @chats.each do |chat|%>
      <%= link_to chat.recipient.username, chat_path(chat) %>
    <% end %>
  </div>

  <div id="chat-box" style="height: calc(100vh - 130px);">
    <div class="chat">
      <div class="messages">
        <div class="messages--content">
          <%= render @messages %>
        </div>
      </div> <!-- END OF MESSAGES -->
      <div class="chat--form">
        <%= form_for [@chat, @message] do |f| %>
          <div class="message-form">
            <%= f.text_field :body, placeholder: "Type message", autofocus: true, class: "message-form--input" %>
            <%= f.hidden_field :chat_id, value: @chat.id %>
            <%= f.submit "Send", class: "message-form--submit" %>
          </div>
        <% end %>
      </div> <!-- END OF FORM -->
    </div> <!-- END OF CHAT CONTAINER -->
  </div>

</div>
