<div class="white">
  <div class="container">
    <div class="home">
      <div class="title">
        <h1 id="home-title">Shooting for reel.</h1>
        <p class="strong-p">Finding a filming location has never been so <span id="easy-red">easy</span>.</p>
        <div class="d-flex my-5">
          <div class="mx-4">
            <%= render 'shared/search_bar' %>
          </div>
        </div>
      </div>
    </div> <!-- END OF HOME -->
  </div> <!-- END OF CONTAINER -->
</div><!-- END OF WHITE 1 -->

<div class="black">
  <div class="container">
      <div class="home-categories py-5">
      <h2>Search by category</h2>
      <div class="row my-5">
        <div class="col-lg-4">
          <%=link_to locations_path(utf8: "✓", :query => "kitchen", button: ""), style:'text-decoration: none;' do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1556912173-46c336c7fd55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80)">
            Kitchens
            </div>
          <% end %>
        </div>
        <div class="col-lg-4">
          <%=link_to locations_path(utf8: "✓", :query => "living_room", button: ""), style:'text-decoration: none;' do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1518012312832-96aea3c91144?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80)">
            Living rooms
            </div>
          <% end %>
        </div>
        <div class="col-lg-4">
          <%=link_to locations_path(utf8: "✓", :query => "apartments", button: ""), style:'text-decoration: none;' do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1521483756775-c37af386fce9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80)">
            Apartments
            </div>
          <% end %>
        </div>
      </div> <!-- END OF ROW -->
      <div class="row d-flex justify-content-center my-5  ">
        <%= render 'shared/show_button' %>
      </div>
    </div> <!-- END OF HOME-CATEGORIES -->
  </div> <!-- END OF CONTAINER 2 -->
</div> <!-- END OF BLACK -->
