<div class="reel-cont">
  <h3 class="text-center my-5">User profile</h3>
  <div class="row">
    <div class="col-lg-3">
      <div class="px-5 text-center">
        <%= cl_image_tag @user.photo.key, class: "avatar-xlarge"%>
        <h3 class="border-bottom py-3 mb-3 text-center"><%= @user.username %></h3>
        <p class="text-left"><i class="far fa-check-circle"></i> Email address verified</p>
        <p class="text-left"><i class="far fa-check-circle"></i> Phone number verified</p>
      </div>
    </div>
    <div class="col-lg-9">
      <button class="reel-accordion">Listed locations</button>
      <div class="reel-panel">
        <div class="row mb-5">
          <% @user.locations.each do |location| %>
            <div class="col-lg-4">
               <%= link_to location_path(location), class: "card-trip my-3" do %>
                <% if location.photos.attached? %>
                  <%= cl_image_tag location.photos[0].key, style:"object-fit: cover; height: 217.8px;" %>
                <% else %>
                  <img class="card-img-top" src="https://images.unsplash.com/photo-1518353053542-7ea33d942319?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80" alt="Card image cap">
                <% end %>
               <% end %>
                <div class="d-flex justify-content-between pt-3">
                    <p class="location-name"><%= location.name %></p>
                    <p id="location-price"><%= humanized_money_with_symbol(location.price) %></p>
                </div>
                <!-- <p><%= location.description %></p> -->
              </div>  <!-- END OF COL  -->
          <% end %> <!-- END OF FOR EACH -->
        </div> <!-- END OF ROW   ///   LISTED LOCATIONS -->
      </div>

      <button class="reel-accordion">User reviews</button>
      <div class="reel-panel">
          <% @user.bookings.each do |booking| %>
            <% booking.reviews.each do |review| %>
              <% if review.user != @user %>
                <div class="row">
                  <div class="col-lg-2">
                    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar"%>
                  </div>
                  <div class="col-lg-10 review-rights">
                    <i class="fas fa-star"></i><span><%= review.rating %></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2">
                    <p><%= review.user.username %></p>
                  </div>
                  <div class="col-lg-10 review-rights">
                    <p><%= review.content %></p>
                  </div>
                </div>
            <% end %>
          <% end %>
         <% end %>
    </div>

      <button class="reel-accordion">Location reviews</button>
      <div class="reel-panel">

          <% @location_reviews.each do |review| %>
          <% if review.user != @user %>
          <p class="location-name"><%= review.booking.location.name %></p>
            <div class="row my-3">
              <div class="col-lg-2">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar"%>
              </div>
              <div class="col-lg-10 align-bottom">
                <i class="fas fa-star"></i><span><%= review.rating %></span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2">
                <p><%= review.user.username %></p>
              </div>
              <div class="col-lg-10 review-rights">
                <p><%= review.content %></p>
              </div>
            </div>
          <% end %>
          <% end %>

      </div>
    </div>
  </div>
</div>
