

  <div id="log-in" class="d-flex align-items-center">
    <div class="login">
      <h2 class="text-center">LOG IN</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="search-bar">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" },
                      class: "input" %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <span><%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %></span>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>

    <div class= "picture">
    </div>
  </div>
 <!-- END OF CONTAINER -->
