<div class="container">
  <h3>Your Places</h3>

  <div class="row border-bottom pb-3 mb-5">
    <% if @locations.empty? %>
      YOU DONT OWN ANY REAL ESTATE, LOSER
    <% else %>
      <% @locations.each do |location| %>
        <div class="col-lg-4">
          <div class="card-trip">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <div>
              <p><%= location.name %></p>
              <p><%= location.description %></p>
            </div>
            <p class="card-trip-pricing"><%= location.price %></p>
          </div>
          </div>
        </div>
      <% end %> <!-- END OF FOR EACH -->
    <% end %>
  </div> <!-- END OF ROW -->
</div> <!-- END OF CONTAINER -->
<div class="container">
  <h3>Some is trying to book!!</h3>

  <div class="row mb-5">
    <% @locations.each do |location| %>
      <% location.bookings.each do |booking| %>
        <div class="col-lg-4">
          <div class="card-trips">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
              <div class="card-trip-infos">
                <div>
                  <p><%= booking.location.name %></p>
                  <p><%= booking.location.description %></p>
                </div>
                <p class="card-trip-pricing"><%= booking.location.price %></p>
                <% if booking.status == "pending" %>
                  <%= simple_form_for booking, method: :patch do |t| %>
                    <%= t.input :status, as: :hidden, html: { value: 1} %>
                    <%= t.submit "Accept" %>
                    <% end %>
                  <%= simple_form_for booking, method: :patch do |t| %>
                    <%= t.input :status, as: :hidden, html: { value: 2} %>
                    <%= t.submit "Reject" %>
                    <% end %>
                <% elsif booking.status == "canceled" %>
                  <p>Canceled</p>
                <% elsif booking.status == "comfirm" %>
                  <p>Accepted</p>
                <% elsif booking.status == "paid" %>
                  <p>Paid</p>
                  <%= link_to "leave a review", new_booking_review_path(booking) %>
                <% end %>
            </div>
          </div>
        </div>
      <% end %> <!-- END OF FOR EACH -->
    <% end %>
  </div> <!-- END OF CONTAINER -->
</div>
<div class="container">
  <h3>Your bookings</h3>
  <div class="row mb-5">
      <% @user.bookings.each do |booking| %>
        <div class="col-lg-4">
          <div class="card-trips">
            <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"> -->
              <div class="card-trip-infos">
                <div>
                  <p><%= booking.location.name %></p>
                  <p><%= booking.location.description %></p>
                </div>
                <p class="card-trip-pricing"><%= booking.location.price %></p>
                <% if booking.status == "pending" %>
                  <p>Pending</p>
                <% elsif booking.status == "canceled" %>
                  <p>Canceled</p>
                <% elsif booking.status == "comfirm" %>
                  <p>Accepted</p>
                  <%= link_to "Pay", new_location_booking_payment_path(booking.location, booking) %>
                <% elsif booking.status == "paid" %>
                  <p>Paid</p>
                  <%# if booking.reviews %>
                  <%= link_to "leave a review", new_booking_review_path(booking) %>
                  <%# end %>
                  <%# else %>
                  <!-- hello -->
                <% end %>
            </div>
          </div>
        </div>
      <% end %> <!-- END OF FOR EACH -->
  </div> <!-- END OF CONTAINER -->
</div>
