<!-- CAROUSEL -->
<div id="carousel-banner" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-banner" data-slide-to="1"></li>
    <li data-target="#carousel-banner" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://www.thecelebrationsociety.com/wp-content/uploads/2016/09/white-mansion-with-french-doors-and-coloums-AIS-Portraits-2-of-68.jpg" alt="Facade" style="width:100%">
    </div>
    <div class="carousel-item">
      <img src="http://cdn.home-designing.com/wp-content/uploads/2018/11/luxury-curtains-for-living-room.jpg" alt="Living-Room" style="width:100%">
    </div>
    <div class="carousel-item">
     <img class="living-room" src="https://pbs.twimg.com/media/DIkDoYpVAAQqg1W.jpg" alt="garden" style="width:100%">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel-banner" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-banner" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- END OF CAROUSEL -->

<!-- RIGHT SIDE DETAILS -->
<div class="booking-dets">
  <div class="price"><strong><%= @location.price %></strong>/day</div>
  <div class="dates">
    <p>Dates</p>
    <p>Check-in</p>
    <p>Check-out</p>
  </div>
  <div class="payment-dets">
    <div class="payment-title">
    <p>Payment Details</p>
    </div>
    <div class="total-price">
      <p><%= @location.price%> x REPLACE THIS</p>
    </div>
  </div>
</div>
<!-- END OF RIGHT SIDE -->



<div class="container">
  <div class="row py-4">
    <!-- LEFT SIDE DETAILS -->
    <div class="col-lg-8 col-sm-12">
      <div class="d-flex justify-content-between border-bottom align-items-center">
        <h4><%= @location.name %></h4> <br><br>
        <span class="text-muted font-weight-light"><%= @location.user.username %></span>
      </div>

      <p class="border-bottom py-3"><%= @location.description %> <br><br>
      <h4 class="mt-5">Reviews</h4>
      <p class="border-bottom py-2"><i class="fas fa-star"></i> 4.68 | 123 reviews</p>
      <div class="review-info">
        <div>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
        </div>
        <div class="user-info px-2 mb-3">
          <p class="my-0 ">Fanny Ollie Gabi Gus</p>
          <p class="my-0">January 2020</p>
        </div>
      </div>
      <% if @location.bookings.nil? %>
        <p>no tienes reviews</p>

      <% else %>
        <% @location.bookings.each do |booking| %>
          <% booking.reviews.each do |review| %>
            <p><%= review.user.username %></p>
            <p><%= review.content %></p>
            <p><%= review.rating %></p>
          <% end %>
        <% end %>
      <% end %>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum qui dolorem temporibus atque repudiandae, sapiente beatae tenetur sed impedit laborum cumque officiis, veniam dolore quod! Minus quasi nemo praesentium recusandae. Ab corporis ut repellendus numquam magni ipsum, ad quis placeat ipsa quia nostrum similique architecto optio maiores, pariatur repudiandae quos magnam hic qui debitis illum voluptatem sit! Possimus quidem ipsum, quae saepe at aspernatur eaque cupiditate quas necessitatibus.</p>


      <div class="location">
        <h4 class="mb-3 border-bottom">Location</h4>
        <div id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
    <!-- END OFLEFT SIDE DETAILS -->
        <div class="col-4">
          <div class="booking-dets">
            <div class="price"><strong><%= @location.price %></strong>/day</div>
            <div class="dates">
              <%= render './bookings/form' %>
            </div>
          </div>
        </div>
    </div>


  </div>
  <!-- END OF DETAILS -->
</div>
<!-- END OF CONTAINER -->
